[submodule "src/Adafruit_SHT31"]
	path = src/Adafruit_SHT31
	url = https://github.com/gems-labx/Adafruit_SHT31
[submodule "src/DPS368-Library-Arduino"]
	path = src/DPS368-Library-Arduino
	url = https://github.com/gemsiot/DPS368-Library-Arduino.git
[submodule "src/Adafruit_BusIO"]
	path = src/Adafruit_BusIO
	url = https://github.com/gemsiot/Adafruit_BusIO.git
